// include all your new classess here that is intended for mobile. Only if necessary but please use breakpoints mixins


@media only screen and (max-height: 600px) and (min-width: 1025px) {
	  
	.home-slide-text  {

		h2 {
			font-size: 10vh;
			margin-bottom: 3vh;
			line-height: 11.2vh;
		}
	  	
	  	p {
	  		font-size: 6vh;
	  	}
	}

	.home-slide .btn-more {
		line-height: 10vh;
		margin-top: 4vh;
	}

	.home-slide .home-slide-text .btn {
		display: inline-block;
	}
	

	.digital-me {
		top: 10vh;
	}

	.home-slide .flexslider .flex-control-nav {
		display: none;
	}
}

@media only screen and (max-height: 767px) and (min-width: 1025px) {

	.home-slide .flexslider .flex-control-nav {
		xdisplay: none;
		bottom: 5px;
	}


}

@media only screen and (max-width: 1200px) {

	.container {
		max-width: 1080px;
	}
}