
.cashin-wrap {
	background: $coViolet;
	padding-bottom: 0;
	padding-top: 11vw;

	@include breakpoint(desktop) {
		padding-top: 168px;
	}

	@include breakpoint(tablet2) {
		padding-top: 70px;
	}

	.cc-why-eon {
		@include breakpoint(tablet2) {
			background: url(../images/cashin/banner.jpg) no-repeat 50% -50%;


		}

		@include breakpoint(tablet2) {
			.banner-express-bg {
				display: none 
			}
		}
	}

	.express-tab-menu {
		padding-top: 50px;

		ul {

			li {

				@include breakpoint(phablet) {
					padding-bottom: 25px;
				}
			}
		}
	}

	.express-tab-menu-icon {
		text-align: center;
		color: $coWhite;
		display: table-cell;
		vertical-align: middle;
		padding: 0px 15px;

		@include breakpoint(tablet2) {
			width: 115px;
			height: 115px;
		}

		@include breakpoint(phablet) {
			width: 72px;
			height: 72px;
		}

		p {
			font-size: 45px;
			font-weight: bold;
			line-height: 50px;
			margin-bottom: 5px;

			@include breakpoint(phablet) {
				font-size: 22px;
				margin-bottom: 0;
			}
		}

		span {
			font-size: 16px;
			line-height: 18px;

			@include breakpoint(tablet2) {
				display: none;
			}
		}
	}

	.sec-pad {
	    padding: 0;
	}

	.container {
		max-width: 1080px;
    	position: relative;
	}

	.bg-violet {
		background: #562a8a;
		color: $coWhite;
	}

}

.cashin-tab {
	background: $coWhite;

	p {
		font-size: 20px;
		line-height: 26px;

		@include breakpoint(tablet2) {
			font-size: 16px;
		}
	}
}

.cashin-tab-title {
	max-width: 750px;
	margin: 0 auto 50px;
	padding: 0px 15px;

	@include breakpoint(tablet2) {
		padding: 0;
		margin-bottom: 30px;
	}

	&.co-white {

		h3 {
			color: $coWhite;
		}
	}

	h3 {
		font-size: 35px;
		color: $coViolet;
		margin-bottom: 40px;
		line-height: 42px;

		@include breakpoint(tablet2) {
			font-size: 24px;
			margin-bottom: 15px;
			line-height: 28px;
		}
	}
}

.cashin-process {

	ul {

		&:after {
			content:'';
			display: block;
			float: none;
			clear: both;
		}

		&.cash-col-3 {

			margin: 0px -30px 50px;

			@include breakpoint(tablet) {
				margin: 0px -15px 20px;
			} 

			li {
				width: 33.33%;
				padding: 0px 30px 15px;
				float: left;

				@include breakpoint(tablet) {
					padding: 0px 15px 30px;
				} 

				@include breakpoint(phablet) {
					width: 50%;
				}

				@include breakpoint(mobile) {
					width: 100%;
					float: none;
					clear: both;
				}
			}

			.cashin-item-img {
				width: 180px;
				height: 180px;
				position: relative;
				overflow: hidden;
				margin: 0 auto 20px;
				border-radius: 50%;
				box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 0px 55px rgba(0, 0, 0, 0.1);

				@include breakpoint(tablet2) {
					width: 150px;
					height: 150px;
				}

				img {
					max-width: 100%;
					height: auto;
				}

			}

			.cashin-process-num {
				background: #562a8a;
			}
		}

		&.cash-col-4 {
			margin: 0 -10px 50px;

			@include breakpoint(tablet) {
				margin: 0px -15px 20px;
			}

			li {
				width: 25%;
				padding: 0px 10px 15px;
				float: left;

				@include breakpoint(tablet) {
					padding: 0px 15px 30px;
					width: 50%;
				}

				@include breakpoint(mobile) {
					width: 100%;
					float: none;
					clear: both;
				}
			}

			.cashin-item-img {
				width: 150px;
				height: 150px;
				position: relative;
				overflow: hidden;
				margin: 0 auto 20px;
				border-radius: 50%;
				box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 0px 55px rgba(0, 0, 0, 0.1);

				img {
					max-width: 100%;
					height: auto;
				}

			}



			.cashin-process-item {
				padding: 50px 15px 25px;
				color: $defaultColor;
				box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.25);
			}
		}
	}
}

.cash-item-text {

	p {
		font-size: 16px;
		line-height: 20px;
		margin-top: 10px;
	}
}

.cashin-item {
	padding: 50px 0;
	height: 100%;
	@include transition(all 0.3s 0s ease);
	opacity: 1;
	position: relative;
	overflow: hidden;

	@include breakpoint(tablet2) {
		padding: 30px 0;
	}

	&.is-minimize {
		height: 0;
		padding: 0;
		opacity: 0;
		display: none;

		.container {
			display: none;
		}
	}

	br {
		@include breakpoint(tablet2) {
			display: none;
		}
	}
}


.text-violet {
	color: $coViolet;
}


.cashin-process-item {
	padding: 50px 30px 25px;
	box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.05), 0px 2px 10px 0 rgba(0, 0, 0, 0.15);
	text-align: center;
	background: $coWhite;
	position: relative;
	overflow: hidden;

	@include breakpoint(tablet2) {
		padding: 50px 15px 25px;
	}

	@include breakpoint(mobile) {
		max-width: 290px;
		margin: 0 auto;
		min-height: auto !important;
	}
}

.cashin-process-num {
	width: 94px;
	height: 94px;
	background: #dd2476;
	font-size: 29px;
	color: $coWhite;
	border-radius: 50%;
	position: absolute;
	top: -40px;
	left: -40px;
	box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.1);

	&:before {
		content:'';
		display: block;
		width: 104px;
		height: 104px;
		background: url('../images/cashin/border-circle.png') no-repeat center center;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -52px;
		margin-left: -52px;
	}

	span {
		position: absolute;
		bottom: 15px;
		right: 20px;
		font-weight: bold;
		font-family: $defaultFont;
	}
}

.express-tab-menu {

	.container {
		padding: 0;


	}

	.cashin-tab-title {
		@include breakpoint(tablet2) {
			padding: 0px 15px;
		}
	}

	&:before {
		display: none;
	}
	
	ul {
		width: 800px;
		margin: 0 auto;
		position: relative;

		@include breakpoint(tablet2) {
			width: 100%;
			padding: 0px 15px;
		}

		&:before {
			content: '';
		    width: 40px;
		    height: 40px;
		    border-radius: 50%;
		    position: absolute;
		    left: 50%;
		    margin-left: -20px;
		    background: #ff4053;
		    bottom: -20px;
		    z-index: 2;

		    @include breakpoint(tablet2) {
		    	display: none;
		    }
		}

		li {

			&:before {

			}
		}
	}
}

.ct-mobile-text {
	color: $coWhite;
	max-width: 220px;
	margin: 20px auto 0;
	text-align: center;
	font-size: 16px;
	display: none;
	padding: 0px 8px;

	@include breakpoint(tablet2) {
		display: block;
	}

	@include breakpoint(mobile) {
		font-size: 14px;
		line-height: 18px;
	}
}
