.contact-banner {
	height: 25vw;

	.table-wrap {
		.table-cell {
			padding-top: 10vw;
		}
	}

	@include breakpoint(desktop) {
		height: 350px;
	}

	@include breakpoint(tablet2) {
		height: 250px;
	}


	
}

.cc-oc-mobile {
	display: none;

	@include breakpoint(tablet2) {
		display: block;
		color: $defaultColor;
		margin-bottom: 15px;
	}
}

.other-contact {
	padding: 5vw 0;
	position: relative;
	height: 840px;
	width: 171px;
	margin-left: 50px;
	background: url('../images/page_template/contact-line.png') no-repeat bottom center;
	margin-top: -90px;

	@include breakpoint(desktop) {
		margin-left: 0;
	}

	@include breakpoint(tablet2) {
		background: none;
		height: auto;
		width: 100%;
		margin-top: 0;

	}

	.cc-circle {
		bottom: inherit;
		top: -10%;
		left: 100%;
		margin-left: -140px;
		width: 10vw;
		height: 10vw;
		min-width: 280px;
		min-height: 280px;

		@include breakpoint(tablet2) {
			display: none;
		}


		h6 {
			font-size: 32px;
		}
	}

	p {
		color: $coPink;
		padding-bottom: 0;

		span {
			color: $coViolet;
			font-weight: 700;
		}

		a {
			color: $coPink;
		}
	}
}

.cc-floating {
	position: absolute;
	color: $coPink;
	padding-left: 55px;
	width: 200%;

	@include breakpoint(largedesktop) {
		padding-left: 55px;
	}

	@include breakpoint(tablet2) {
		display: block;
		position: relative;
		width: auto;
		top: 0;
		left: 0;
		margin-bottom: 15px;
	}

	p {
		padding-bottom: 3px !important;
	}

	&.cc-floating-email {
		
		top: 45%;
		left: -15px;

		/*@include breakpoint(largedesktop) {
			left: 105px;
		}*/

		@include breakpoint(tablet2) {
			top: 0;
			left: 0;
		}
	}

	&.cc-floating-social {
		top: 27%;
		left: 105px;

	
		@include breakpoint(tablet2) {
			top: 0;
			left: 0;
		}
	}

	&.cc-floating-call {
		top: 65%;
		left: 40px;

		@include breakpoint(tablet2) {
			top: 0;
			left: 0;
		}
	}

	.cc-c-icons {
		width: 45px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		display: inline-block;
		border: 2px solid $coRed;
		border-radius: 50%;
		background: $coWhite;
		font-size: 24px;
		position: absolute;
		top: 0;
		left: 0;

		.ico {
			font-size: 24px;
			line-height: 45px;
			color: $coRed;
		}

		@include breakpoint(largedesktop) {
			width: 45px;
			height: 45px;
			line-height: 45px;

			.ico {
				line-height: 45px;
				font-size: 24px;
			}
		}

		
	}

	.ct-title-icon {
		padding-bottom: 4px;
		padding-top: 7px;

		span {
			font-size: 24px;
			display: inline-block;
			vertical-align: top;

			
		}
	}
}

.contact-bar {
	background: $coViolet;
	padding: 5vw 0;
	color: $coWhite;
	min-height: 400px;
	position: relative;
	overflow: hidden;

	@include breakpoint(tablet2) {
		display: none;
	}

	h4 {
		color: $coWhite;
		padding: 0px 1.8vw;
		font-size: 28px;

		@include breakpoint(tablet2) {
			font-size: 24px;	
		}
	}

	h2 {
		color: $coWhite;
	}
	
}

.contact-wrapper {
	padding-bottom: 0;

	.cc-why-eon-bg {
		width: 50%;
		position: absolute;
		right: 0;
		height: 100%;
		top: 0;
		background: url(../images/contact/contact-banner.jpg) no-repeat bottom right;
		background-size: cover;

		@include breakpoint(tablet2) {
			display: none;
		}
	}

	.container {
		max-width: 1200px;
	}

	@include breakpoint(desktop) {
		padding-top: 168px;
	}

	@include breakpoint(tablet2) {
		padding-top: 70px;
	}

	.follow-us {
		margin-top: 5px;

		li {
			display: block;
			margin-bottom: 5px;
		}

		a {
			width: 35px;
			height: 35px;
			line-height: 35px;
			background: $coPink;
			position: relative;

			span {
				position: absolute;
				top: 3px;
				left: 40px;
			}

			&:hover {
				background: $coViolet;
			}

			.fa {
				font-size: 18px;
				color: $coWhite;
				top: 2px;
				position: relative;

			}
		}
	}
}

.contact-wrap {
	background: $coWhite;
	
	h1 {
		color: $coViolet;
		font-size: 5.1vw;

		@include breakpoint(desktop) {
			font-size: 50px;
		}

		@include breakpoint(tablet2) {
			font-size: 36px;
		}
	}

	.contact-field {
		padding-top: 0;
		padding-right: 1vw;
		padding-left: 1vw;
		background: lighten($coDarkViolet, 3%);
		margin-top: -250px;

		form {
			padding-top: 30px;

			@include breakpoint(tablet2) {
				padding-top: 15px;
			}
		}

		@include breakpoint(desktop) {
			padding-top: 0;
			padding-left: 5px;
			padding-right: 5px;
		}

		@include breakpoint(tablet2) {
			padding-top: 0;
			margin-top: 0;
			margin-bottom: 10px;
			margin-left: -15px;
			margin-right: -15px;
			padding: 0px 15px;
		}

		input[required]:valid + label, input[required]:focus + label, input:not([value=""]) + label, textarea:focus + label{
			color: $coWhite;
		}
	}

	.cf-info {
		.input-wrap {

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.cf-info, .cf-inquiry {
		padding: 1.2vw 0.8vw;	

		@include breakpoint(largedesktop)	 {
			padding: 20px 10px;
		}

		@include breakpoint(tablet2) {
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 20px;
		}
	}

	.cf-inquiry {
		padding-bottom: 0.3vw;
		margin-bottom: 20px;

		@include breakpoint(tablet2) {
			background: none;
			padding-bottom: 0;
		}
	}

	p {
		color: $coWhite;
		padding-bottom: 25px;
		font-size: 18px;

		@include breakpoint(largedesktop) {
			font-size: 18px;
			padding-bottom: 20px;
		}
	}

	textarea {
		min-height: 150px;
	}

	input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[type="password"], textarea {
		
		&::-webkit-input-placeholder {
		  	font-size: 1.1vw;
		  	opacity: 0;
		  	visibility: hidden;

		  	@include breakpoint(largedesktop) {
		  		font-size: 13px;
		  	}
		}
		&::-moz-placeholder { 
		  	font-size: 1.1vw;
		  	opacity: 0;
		  	visibility: hidden;

		  	@include breakpoint(largedesktop) {
		  		font-size: 13px;
		  	}
		}

		&:-ms-input-placeholder { 
		   	font-size: 1.1vw;
		  	opacity: 0;
		  	visibility: hidden;

		  	@include breakpoint(largedesktop) {
		  		font-size: 13px;
		  	}
		}

		&:-moz-placeholder { 
			font-size: 1.1vw;
		  	opacity: 0;
		  	visibility: hidden;

		  	@include breakpoint(largedesktop) {
		  		font-size: 13px;
		  	}
		}

		&:focus {
			border-bottom: 1px solid $coDarkViolet;

			&::-webkit-input-placeholder {
			  	opacity: 1;
			  	visibility: visible;
			}
			&::-moz-placeholder { 
			  	opacity: 1;
			  	visibility: visible;
			}

			&:-ms-input-placeholder { 
			   	opacity: 1;
			  	visibility: visible;
			}

			&:-moz-placeholder { 
				opacity: 1;
			  	visibility: visible;
			}
		}
	}
}

.contact-field-head {
	background: $coViolet;
	margin: 0px -1.08vw;
	color: $coWhite;
	padding: 15px 15px 60px 15px;

	@include breakpoint(tablet2) {
		margin: 0px -15px;
		padding-bottom: 30px;
	}

	h2 {
		margin-bottom: 10px;
		font-size: 62px;

		@include breakpoint(smalldesktop) {
			font-size: 42px;
		}
	}

	h6 {
		font-size: 24px;

		@include breakpoint(smalldesktop) {
			font-size: 18px;
		}
	}
}

.contact-detail.contact-tooltip {
	position: relative;
	opacity: 1;
	visibility: visible;
	@include transform(translateY(0));
	z-index: 1;
	padding: 2vw 0 0 3vw;
	display: block;

	@include breakpoint(largedesktop) {
		padding-top: 25px;
		padding-left: 0;
	}

	&:after {
		display: none;
	}

	p {
		color: $coGrey;
		padding-bottom: 0.8vw;

		@include breakpoint(largedesktop) {
			padding-bottom: 8px;
		}

		@include breakpoint(tablet2) {
			font-size: 16px;
			padding-bottom: 5px;
		}
	}

	.contact-t-wrap {
		border-radius: 0;
		min-width: 320px;

		.ct-title-icon {
			margin-bottom: 1.5vw;

			@include breakpoint(largedesktop) {
				margin-bottom: 14px;

				.ico {
					margin-right: 6px;
				}
			}

			@include breakpoint(tablet2) {
				font-size: 18px;
				margin-bottom: 10px;

				.ico {
					font-size: 22px;
				}
			}
		}

		ul {
			@include breakpoint(tablet2) {
				padding: 0;
			}
		}
	}

	.contact-t-title {
		text-align: left;
		font-size: 2.5vw;
		padding: 0.8vw 1vw;

		@include breakpoint(tablet2) {
			font-size: 22px;
			padding: 8px 10px;
		}
	}

	.c-social-wrap {

		a {
			margin-left: 0;
		}

		.fa {
			width: 1.8vw;
			height: 1.8vw;
			line-height: 1.8vw;
			text-align: center;
			display: inline-block;
			background: #2AA9E0;
			border-radius: 50%;
			margin: 0px 0.18vw;
			font-size: 1vw;
			vertical-align: middle;
			position: relative;
			top: -2px;
			color: $coWhite;
			margin-right: 0.5vw;

			&.fa-facebook {
				background: #36609f;
			}

			@include breakpoint(largedesktop) {
				width: 30px;
				height: 30px;
				line-height: 30px;
				margin-right: 6px;
				top: -1px;
				font-size: 16px;
			}
		}
	}


	.contact-t-wrap ul li {
		padding-top: 1.5vw;

		@include breakpoint(largedesktop) {
			padding-top: 15px;
		}
	}
}